.sobre-mim{
    background-color: #EAF2FD;
    margin-top: 25px;
    color: #464646;
}

.sobre-mim h2{
    font-size: 32px;
    font-weight: bold; 
    padding: 20px;
}

.sobre-mim p{
    font-size: 16px;
    padding: 0 20px 20px 20px;
}

.sobre-mim img{
    padding: 0 20px 20px 20px;
    width: 75px;
}